<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<nav  class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Tracking-number" aria-label="Order Tracking">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Track my Order</button>
        </form>
    </div>
</nav>

<div class="mx-auto" style="width: 80%;">
    <div id="header-box" style="background-color:#ED3E32; padding: 1em; opacity: 85%; border-radius: 10px;
        color:ghostwhite;margin-top: 10px;margin-bottom: 10px;">
        <h4>Order Letter</h4>
        <h5>Enter the Shipping-Details and the content to send a letter</h5>
    </div>
<form th:action="@{/signup}" method="post" th:object="${regsitrationDTO}" class="">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="FirstNameInput">First name</label>
                <input class="form-control" type="text"   th:field="*{firstName}" id="FirstNameInput"/>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="LastNameInput">Last name</label>
                <input class="form-control" type="text"  th:field="*{lastName}" id="LastNameInput"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="UserNameInput">Username</label>
                <input class="form-control" type="text"  th:field="*{userName}" id="UserNameInput"/>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="EmailInput">Email</label>
                <input class="form-control" type="text"  th:field="*{email}" id="EmailInput"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="PasswordInput">Password</label>
                <input class="form-control" type="text"  th:field="*{password}" id="PasswordInput"/>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="PasswordDubInput">repeat Password</label>
                <input class="form-control" type="text"  th:field="*{passwordDub}" id="PasswordDubInput"/>
            </div>
        </div>
    </div>

    <a href="/link-to/whatever-address/" id="cancel" name="cancel" class="btn btn-danger float-right">Cancel</a>
    <button type="submit" class="btn btn-primary float-right">Order</button>
</form>

</div>
</body>
</html>