<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpeg" th:src="@{/Icons/Logo.jpg}"/>
    <title>Shipping company</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav  class="navbar navbar-dark bg-dark navbar-expand-lg">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <img border="0" alt="Logo" th:src="@{/Icons/Logo.jpg}" width="100" height="100">
                </a>
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"> Tracking-Id </th>
        <th scope="col"> Type </th>
        <th scope="col"> Status </th>
        <th scope="col"> Details </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${orders.empty}">
        <td colspan="2"> No Orders made! </td>
    </tr>
    <tr th:each="order : ${orders}" scope="row">
        <td><span th:text="${order.trackingId}"> Tracking </span></td>
        <td><span th:text="${order.trackingId}"> Type </span></td>
        <td><span th:text="${order.trackingId}"> Status </span></td>
        <td><a th:href="@{'/customer/order/details/'+${order.trackingId}}"> Details </a></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/authentication/signIn}" role="button" class="btn btn-secondary">My Orders</a>
<br>
<a class="btn btn-primary" href="/order/letter" role="button">Order Letter</a>
<br>
<button th:href="@{/order/shipment}" role="button" class="btn btn-secondary">Order Shipment</button>


</body>
</html>