<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div th:insert="components/navbar.html"></div>

<div class="mx-auto" style="width: 80%;">
    <div id="header-box" style="background-color:#4A73F5; padding: 1em; opacity: 85%; border-radius: 10px;
        color:ghostwhite;margin-top: 10px;margin-bottom: 10px;">
        <h4 th:text="'Shipment: '+${shipment.trackingId}">Shipment</h4>
        <h5 th:text="'Current Status:'+${shipment.status.description}">Status-Missing</h5>
        <h5 th:text="'Last updated:'+${shipment.status.updatedAt}">Status-Timestamp-Missing</h5>
    </div>

    <form th:action="@{'/edit/shipment/save/'+${shipment.trackingId}}" method="post" th:object="${shipment}">
        <div th:if="${message != null}" th:text="${message}" class="alert alert-info">Message missing!</div>

        <div class="card" style="background-color: lightgray; border-width: 0px;opacity: 80%;margin-bottom: 10px;">
            <div class="card-body">
                <h2>From:</h2>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="SenderInput">From</label>
                            <input class="form-control" type="text"  th:field="*{pickUpAddress.receiver}" id="SenderInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="SenderCountryInput">Country</label>
                            <input class="form-control" type="text"  th:field="*{pickUpAddress.country}" id="SenderCountryInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="SenderStreetInput">Street</label>
                            <input class="form-control" type="text"  th:field="*{pickUpAddress.street}" id="SenderStreetInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="SenderApartmentInput">Apartment</label>
                            <input class="form-control" type="text"  th:field="*{pickUpAddress.house}" id="SenderApartmentInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="SenderPostalCodeInput">Postal Code</label>
                            <input class="form-control" type="text"  th:field="*{pickUpAddress.postalCode}" id="SenderPostalCodeInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="SenderCityInput">City</label>
                            <input class="form-control" type="text"  th:field="*{pickUpAddress.city}" id="SenderCityInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-color: lightgray; border-width: 0px;opacity: 80%;margin-bottom: 10px;">
            <div class="card-body">
                <h2>To:</h2>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="RecipientInput">To</label>
                            <input class="form-control" type="text"  th:field="*{receivingAddress.receiver}" id="RecipientInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="RecipientCountryInput">Country</label>
                            <input class="form-control" type="text"  th:field="*{receivingAddress.country}" id="RecipientCountryInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="RecipientStreetInput">Street</label>
                            <input class="form-control" type="text"  th:field="*{receivingAddress.street}" id="RecipientStreetInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="RecipientApartmentInput">Apartment</label>
                            <input class="form-control" type="text"  th:field="*{receivingAddress.house}" id="RecipientApartmentInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="RecipientPostalCodeInput">Postal Code</label>
                            <input class="form-control" type="text"  th:field="*{receivingAddress.postalCode}" id="RecipientPostalCodeInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="RecipientCityInput">City</label>
                            <input class="form-control" type="text"  th:field="*{receivingAddress.city}" id="RecipientCityInput" th:disabled="${inputDisabled}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="background-color: lightgray; border-width: 0px;opacity: 80%;margin-bottom: 10px;">
            <div class="card-body">
                <div class="row">
                    <div class="col" th:if="${inputDisabled != null}">
                        <label for="PickUpTime">Pickup time</label>
                        <input class="form-control" type="text"  th:field="*{pickUpTime}" id="PickUpTime" th:disabled="${inputDisabled}"/>
                    </div>

                    <div class="col" th:if="${inputDisabled == null}">
                        <label for="PickUpTime2">Pickup time</label>
                        <input class="form-control" type="date"  th:field="*{pickUpTime}" id="PickUpTime2" th:disabled="${inputDisabled}"/>
                    </div>

                    <div class="col">
                        <label for="Bundles">Amount Bundles</label>
                        <input class="form-control" type="number"  th:field="*{amountBundle}" id="Bundles" th:disabled="${inputDisabled}"/>
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${inputDisabled != null && edit ==null}">
            <a th:href="'/customer/cancel/'+${shipment.trackingId}+'/false'" id="cancel1" name="cancel" class="btn btn-danger float-right">Cancel Order</a>
            <a th:href="'/customer/order/details/shipment/'+${shipment.trackingId}+'/true'" class="btn btn-primary float-right">Edit Order</a>
        </div>

        <div th:if="${inputDisabled == null}">
            <a th:href="'/customer/order/details/shipment/'+${shipment.trackingId}+'/false'" id="cancel2" name="cancel" class="btn btn-danger float-right">Cancel Editing</a>
            <button  type="submit" class="btn btn-primary float-right">Save Edit</button>
        </div>
    </form>

</div>

</body>
</html>