<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="de">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign up</title>
</head>
<body>
<div th:insert="components/navbar.html"></div>

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div class="card text-right" style="width: 18rem; margin: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Sign out</h5>
                    <p class="card-text">Are you sure you want to sign out?</p>
                    <div class="row">
                        <div class="col">
                            <a href="/"   role="button"  class="btn  btn-danger">Cancel</a>
                        </div>
                        <div class="col">
                            <form th:action="@{/logout}" method="post" name="login">
                                <button type="submit" role="button"  class="btn  btn-primary">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>